{% extends 'Base.html' %}
{% load static %}

{% block extra-styles %}
    <link rel="stylesheet" href="css/slick.css">
{% endblock %}

{% block title%}Contact Us | SeekJob{% endblock%}

{% block content %}
<!-- header  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>contact</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--/ header  -->


{% endblock %}