{% extends 'Base.html' %}
{% load static %}

{% block extra-styles %}

{% endblock %}

{% block title%}Job Form{% endblock%}

{% block content %}
<!-- header  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Post A New Job</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--/ header  -->
<!--form starts here-->
<form action="" method="Post" enctype="multipart/form-data" class="text-center container w-50 mt-5 mb-3">
    {% csrf_token %}
    {{ job_form.as_p }}
<button type="submit" class="boxed-btn3 mx-auto mt-3">Post</button>
</form>
<!--form ends here-->


{% endblock %}