{% extends 'Base.html' %}
{% load static %}

{% block content %}
<!-- header  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>your Profile</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--/ header  -->
{{ user.username}}
{{ user.role }}
<h1>this is profile page</h1>

{% endblock %}